* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, verdana, sans-serif;
}

section {
    padding: 10px 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

p, li, figcaption {
    font-size: 18px;
}

img {
    display: block;
    max-height: auto;
    max-width: 100%;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu, .hero {
    color: #E5E7EB;
    background-color: #1F2937;
}

.container {
    margin: 0 auto;
    width: min(90%, 70.5rem);
}

.menu > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-img {
    margin: 5px;
    cursor: pointer;
}

.tab-menu {
    margin: 5px;
    list-style: none;
}

.tabs {
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
}

.tabs a {
    transition: all 0.3s ease 0s;
}

.tabs a:hover {
    color: #3882F6;
    cursor: pointer;
}

.hero > .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.hero-text {
    width: 400px;
    padding: 10px;
    margin: 5px;
}

.hero-text > #welcome-title , #welcome-info, .signup {
    padding: 5px;
    margin: auto;
}

.hero-text > .signup {
    margin-left: 10px;
    margin-block: 10px;
    padding: 10px 30px
}

.info-img {
    width: 600px;
    padding: 20px;
    margin-block: 5px;
    justify-content: space-evenly;
}

.info-img > #header-img {
    text-align: center;
    
}

#header-title, .image-info {
    text-align: center;
}

img.rnd-crnrs {
    border: 3px solid #3882F6;
    border-radius: 35px;
    margin: 0 auto;
}

.quotes {
    background-color: #E5E7EB;
}

#quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

#quoter {
    font-size: 24px;
    color: #1F2937;
    font-weight: 600;
}

.action {
    background-color: #3882F6;
    color: #F9FAF8;
}

.action-button > button {
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
